header{
    background: #a0a0a0
}
nav li{
    display: inline;
    margin: 0 0 0 15px;
}
nav a{
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    
}
nav{
    position: absolute;
    top: 110px;
    right: 0;
}