header{
    background: #a0a0a0
    
}
nav li{
    display: inline;
    margin: 0 0 0 15px;
}
nav a{
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
nav{
    position: absolute;
    top: 110px;
    right: 0px;
}
.produtos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    /*background: gray;*/
    box-sizing: border-box;
    padding: 30px 20px;
    border: 2px solid #0000;
}
.produtos{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}
.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto; 
}
.produtos h2{
    font-size: 30px;
    font-weight: bold;
}
.produto-preco{
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0;
}
.produto-descricao{
    font-size: 18px;

}